tmp/
*lab*/**
*hw*/**
!*lab*/images*
!*lab*/images*/*
!*lab*/*.sty
!*lab*/*.tex
!*lab*/*.pdf
!*lab*/*.bib
!*lab*/codes
!*lab*/codes/*
!*hw*/images*
!*hw*/images*/*
!*hw*/*.sty
!*hw*/*.tex
!*hw*/*.pdf
!*hw*/*.bib
!*hw*/codes
!*hw*/codes/*

*/**
!*/images*
!*/images*/*
!*/*.sty
!*/*.tex
!*/*.pdf
!*/*.bib
!*/codes
!*/codes/**